<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is a Home page</h1>
    <h3><%= 1 + 2 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, impedit. Atque aliquam, praesentium, voluptas commodi dolore quod asperiores cupiditate ipsam quia, dolorem dolor totam. Necessitatibus illo, laudantium tenetur nisi nobis veritatis totam praesentium quaerat doloribus, ipsum sint unde doloremque rem minima? Ut obcaecati exercitationem incidunt quibusdam amet ab laudantium nam rerum totam corporis dignissimos, vel ea.</p>
    <button>click me!</button>
</body>
</html>